Repository catalyst-cooperative/pudl-archiver, pull requests merged in 2024-04, with the labels that each got.

#313 Update issue templates for monthly dataset review
  .github/ISSUE_TEMPLATE/monthly-archive-update.md
Labels: zenodo, automation

#320 Update PHMSA sandbox doi and fix PHMSA archiver
  dataset_doi.yaml
  src/pudl_archiver/archivers/phmsagas.py
Labels: bug, phmsagas

#322 Update pudl-archiver to use Frictionless v5
  pyproject.toml
  tests/unit/frictionless_test.py
Labels: dependencies

#325 Fix auto publish and ferc 6/714 archivers
  src/pudl_archiver/archivers/ferc/ferc6.py
  src/pudl_archiver/archivers/ferc/ferc714.py
  src/pudl_archiver/depositors/depositor.py
  src/pudl_archiver/orchestrator.py
  tests/integration/zenodo_test.py
Labels: bug, ferc6, ferc714
