Repository catalyst-cooperative/pudl-archiver, pull requests merged in 2024-03, with the labels that each got.

#291 Add `eiawater` to automatic archiver
  .github/workflows/run-archiver.yml
Labels: eiawater, automation

#299 Add EIA AEO archiver
  .github/workflows/run-archiver.yml
  README.md
  dataset_doi.yaml
  src/pudl_archiver/archivers/eia/eiaaeo.py
  src/pudl_archiver/cli.py
Labels: new-data, eiaaeo, gridlab

#301 Archive NREL ATB for Electricity
  .github/workflows/run-archiver.yml
  README.md
  dataset_doi.yaml
  src/pudl_archiver/archivers/eia/nrelatb.py
  src/pudl_archiver/archivers/validate.py
  src/pudl_archiver/cli.py
  src/pudl_archiver/frictionless.py
Labels: nrelatb

#302 Archive EIA 930 data
  .github/workflows/run-archiver.yml
  README.md
  dataset_doi.yaml
  src/pudl_archiver/archivers/eia/eia930.py
  src/pudl_archiver/archivers/validate.py
  src/pudl_archiver/cli.py
  tests/unit/archive_validate_test.py
Labels: new-data, gridlab, eia930

#303 Stop generating deprecated `remote_url` metadata field.
  src/pudl_archiver/frictionless.py
  src/pudl_archiver/orchestrator.py
  tests/unit/archive_base_test.py
  tests/unit/archive_validate_test.py
Labels: zenodo, metadata

#304 Fix failing FERC archivers
  .github/workflows/run-archiver.yml
  src/pudl_archiver/archivers/ferc/xbrl.py
Labels: bug, github_actions, ferc1, ferc2, ferc6, ferc60, ferc714, automation

#309 Update to use Python 3.12
  environment.yml
  pyproject.toml
  tests/unit/archive_base_test.py
Labels: dependencies
