Repository catalyst-cooperative/pudl-archiver, pull requests merged in 2025-04, with the labels that each got.

#626 Add archiver for raw extracted sec 10k data
  .github/ISSUE_TEMPLATE/monthly-archive-update.md
  .github/workflows/run-archiver.yml
  environment.yml
  pyproject.toml
  src/pudl_archiver/archivers/sec10k.py
  src/pudl_archiver/package_data/zenodo_doi.yaml
Labels: sec10k

#629 Update gdal, arelle, and ruff pre-commit hook.
  .pre-commit-config.yaml
  environment.yml
  pyproject.toml
Labels: dependencies

#609 Tiny fix for censuspep archiver
  .github/ISSUE_TEMPLATE/monthly-archive-update.md
  .github/workflows/run-archiver.yml
  src/pudl_archiver/archivers/census/__init__.py
  src/pudl_archiver/archivers/census/censusdp1tract.py
  src/pudl_archiver/archivers/census/censuspep.py
Labels: censuspep

#636 smol xbrl rssfeed fix (sorted was converting rssfeed dictionary to a list)
  src/pudl_archiver/archivers/ferc/xbrl.py
  tests/unit/ferc_archiver_test.py
Labels: xbrl, ferc1
