Repository catalyst-cooperative/pudl-archiver, pull requests merged in 2025-02, with the labels that each got.

#573 Switch to a new prettier mirror and bump ruff pre-commit hook.
  .pre-commit-config.yaml
Labels: dependencies

#575 Update issue templates to include new datasets
  .github/ISSUE_TEMPLATE/early_release_checker.md
  .github/ISSUE_TEMPLATE/monthly-archive-update.md
  README.md
Labels: documentation, github_actions

#567 Archive EPA MATS
  .github/workflows/run-archiver.yml
  src/pudl_archiver/archivers/epa/epamats.py
  src/pudl_archiver/metadata/sources.py
  src/pudl_archiver/package_data/zenodo_doi.yaml
Labels: epamats

#580 Make server selection on `initialize-archiver` clearer
  .github/workflows/initialize-archiver.yml
Labels: github_actions, automation

#534 Archiver for EIA RECS
  .github/workflows/run-archiver.yml
  .github/workflows/tox-pytest.yml
  pyproject.toml
  src/pudl_archiver/archivers/classes.py
  src/pudl_archiver/archivers/eia/eiarecs.py
  src/pudl_archiver/archivers/validate.py
  src/pudl_archiver/package_data/zenodo_doi.yaml
  src/pudl_archiver/utils.py
Labels: new-data, community, eiarecs

#564 Archive NREL Electrification Futures Studies, workaround deleted concept DOIs
  .github/workflows/run-archiver.yml
  src/pudl_archiver/archivers/nrel/nrelatb.py
  src/pudl_archiver/archivers/nrel/nrelefs.py
  src/pudl_archiver/archivers/validate.py
  src/pudl_archiver/depositors/zenodo/depositor.py
  src/pudl_archiver/metadata/sources.py
  src/pudl_archiver/package_data/zenodo_doi.yaml
Labels: nrelefs

#563 Add archiver for NREL Standard Scenarios
  src/pudl_archiver/archivers/classes.py
  src/pudl_archiver/archivers/nrelss.py
  src/pudl_archiver/metadata/sources.py
Labels: nrelss
