Repository catalyst-cooperative/pudl-archiver, pull requests merged in 2025-01, with the labels that each got.

#509 Bump gdal version to match main PUDL repo
  environment.yml
Labels: dependencies

#506 Make it possible to add non-PUDL data sources and metadata to the archiver
  README.md
  src/pudl_archiver/archivers/eia/eiamecs.py
  src/pudl_archiver/depositors/zenodo/entities.py
  src/pudl_archiver/frictionless.py
  src/pudl_archiver/metadata/sources.py
Labels: metadata, new-data

#510 Update README to improve instructions on adding a new archiver
  .github/ISSUE_TEMPLATE/create-new-archiver.md
  README.md
Labels: documentation

#512 Fix new archiver template issue
  .github/ISSUE_TEMPLATE/create-new-archiver.md
Labels: documentation

#522 Update environment.yml
  environment.yml
Labels: dependencies

#526 Add a weekly archiver run on Mondays that doesn't create a Github issue
  .github/workflows/run-archiver.yml
Labels: github_actions, automation

#528 Add FUNDING.yml with OC & GitHub Sponsorship links
  .github/FUNDING.yml
  README.md
Labels: documentation

#543 Archive USGS PV database
  .github/workflows/run-archiver.yml
  src/pudl_archiver/archivers/usgsuspvdb.py
  src/pudl_archiver/cli.py
  src/pudl_archiver/package_data/zenodo_doi.yaml
Labels: new-data

#545 Archive DoE IRA Energy Community Data
  .github/workflows/run-archiver.yml
  src/pudl_archiver/archivers/doeiraec.py
  src/pudl_archiver/depositors/zenodo/entities.py
  src/pudl_archiver/package_data/zenodo_doi.yaml
Labels: new-data

#544 Archive EPA PCAP data
  .github/workflows/run-archiver.yml
  src/pudl_archiver/archivers/epa/__init__.py
  src/pudl_archiver/archivers/epa/epacamd_eia.py
  src/pudl_archiver/archivers/epa/epacems.py
  src/pudl_archiver/archivers/epa/epapcap.py
  src/pudl_archiver/metadata/sources.py
  src/pudl_archiver/package_data/zenodo_doi.yaml
Labels: new-data

#536 520 write an archiver for doe low income energy affordability data lead
  .github/workflows/run-archiver.yml
  src/pudl_archiver/archivers/classes.py
  src/pudl_archiver/archivers/doelead.py
  src/pudl_archiver/package_data/zenodo_doi.yaml
Labels: new-data

#552 Archive EIA NEMS
  .github/workflows/run-archiver.yml
  src/pudl_archiver/archivers/eia/eianems.py
  src/pudl_archiver/package_data/zenodo_doi.yaml
Labels: new-data
